<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "header" . }}
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        {{ partial "navbar" . }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ $urlPre := "https://api.github.com" }}
                {{ $gistJ := getJSON $urlPre "/repos/guzzlerio/deride/tags" }}
                {{ range first 5 $gistJ }}
                <a href="{{ .html_url }}">{{ .name }}</a>
                {{ if .public }}
                {{ end }}
                {{ end }}
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-lg-offset-3 col-md-offset-3">
                    {{ partial "footer" . }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{{ partial "footer_js" . }}

